
<div class="results-page text-center">
  <p class='results-title'><strong><%= @user.name %></strong> has <strong><%= @user.public_repos %></strong> public repositories with a strong preference for</p>
  <h3 class='fav-language'>
    <% if @fav_language %>
      <%= @fav_language.upcase %>!
    <% else %>
      <p> "no" </p>
    <% end %>
  </h3>

  <p class='github-link'>You can find their GitHub profile at <%= link_to @user.html_url %></p>

  <%= link_to "Try another username", root_path %>
</div>




